*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/.name
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetDropDown.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/deviceManager.xml
/.idea/codeStyles/
/.idea/AndroidProjectSystem.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/inspectionProfiles/
