<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDTS.UIKit.ActionBar"
        tools:targetApi="31">
        <activity
            android:name=".GuidelinesDiscountRedemptionActivity"
            android:label="Promo Hadiah dan Tebus Murah"
            android:theme="@style/Theme.EDTS.UIKit.ActionBar.NoElevation"
            android:exported="false" />
        <activity
            android:name=".GuidelinesCartActivity"
            android:label="Keranjang Belanja"
            android:exported="false" />
        <activity
            android:name=".GuidelineCoachmarkActivity"
            android:exported="false"
            android:theme="@style/Theme.EDTS.UIKit" />
        <activity
            android:name=".GuidelinesHomepageExploration"
            android:exported="false"
            android:theme="@style/Theme.EDTS.UIKit" />
        <activity
            android:name=".GuidelinesHomeSwitcherActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesSegmentedTabLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.EDTS.UIKit" />
        <activity
            android:name=".GuidelinesPopupActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".PoinkuResearchActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesRefreshLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesBottomTrayActivity"
            android:exported="false"
            android:label="Bottom Sheet" />
        <activity
            android:name=".GuidelinesSnackbarActivity"
            android:exported="false"
            android:label="Snackbar" />
        <activity
            android:name=".GuidelinesListItemActivity"
            android:exported="false"
            android:label="List Item" />
        <activity
            android:name=".GuidelinesSharedSearchBarActivity"
            android:exported="false"
            android:theme="@style/Theme.EDTS.UIKit" />
        <activity
            android:name=".GuidelinesBoardingActivity"
            android:exported="false"
            android:label="Boarding" />
        <activity
            android:name=".GuidelinesAlertBoxActivity"
            android:exported="false"
            android:label="Alert Box" />
        <activity
            android:name=".GuidelinesOtpActivity"
            android:exported="false"
            android:label="OTP" />
        <activity
            android:name=".GuidelinesSearchbarActivity"
            android:exported="false"
            android:label="Searchbar" />
        <activity
            android:name=".GuidelinesTextfieldActivity"
            android:exported="false"
            android:label="Textfield - Work In Progress" />
        <activity
            android:name=".GuidelinesColorActivity"
            android:exported="false"
            android:label="Color" />
        <activity
            android:name=".GuidelinesBaseActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesTypographyActivity"
            android:exported="false"
            android:label="Typography"
            android:theme="@style/Theme.EDTS.UIKit.ActionBar" />
        <activity
            android:name=".IndicatorViewActivity"
            android:exported="false" />
        <activity
            android:name=".GuidelinesButtonActivity"
            android:exported="false"
            android:label="Button"
            android:theme="@style/Theme.EDTS.UIKit.ActionBar" />
        <activity
            android:name=".BoardingPlaygroundActivity"
            android:exported="false" />
        <activity
            android:name=".SpotlightTrialsActivity"
            android:exported="false"
            android:label="Work In Progress"
            android:theme="@style/Theme.EDTS.UIKit.ActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>